.sk
{
    position: absolute;
    top: 40px;
    left: 185px;
    height: 32px;
    border-left: 2px solid #b1191a;
    padding-left: 20px;
}
/* 头部导航模块开始 */
.sk_list li
{
    float: left;
    line-height: 45px;
    padding: 0 30px;
}
.sk_list li a 
{
   
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.sk_con li 
{
    float: left;
    line-height: 45px;
    margin: 0 20px;
}
.sk_con li a 
{
    font-size: 14px;
    font-weight: 700;
}
/* 头部导航模块结束 */
/* 商品内容模块开始 */

.sk_bd
{
    margin-top: 25px;    
}
.sk_bd ul 
{
    width: 1220px;
} 
.sk_goods
{
    position: relative;
    width: 288px;
    height: 458px;
    border: 1px  solid transparent;
    float: left;
    margin-right: 13px;
    margin: 0 12px 15px 0;
}
.sk_goods:hover
{
    border: 1px solid #b1191a;
}

.sk_goods_title
{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding: 10px 10px 0;
}
.sk_goods_price em
{
  
    color: #e60012;
    font-size: 22px;
}
.sk_goods_progress
{
    padding: 0 10px;
}
.bar
{
    display: inline-block;
    width: 130px;
    height: 10px;
    border: 1px solid #b1191a;
    vertical-align: middle;
    margin: 0 5px;
    border-radius: 5px;
}
.bar_in
{
    height: 10px;
    background-color: #e60012;
    width: 87%;

}
.sk_goods_buy
{
    position: absolute;
    display: block;
    height: 50px;
    width: 100%;
    background-color: #b1191a;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.page
{
    text-align: center;
    margin: 40px 0;
}
.page_num a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #f7f7f7;
    /* background-color: turquoise; */
    /* background-color: thistle; */
    background-color: ghostwhite;
    
}
.page_num .pn_prev,
.page_num .pn_next
{
    width: 83px;
}
.page_num .current
{
    border: 1px solid transparent;
    background-color: transparent;
}
.page_skip input
{
    width: 46px;
    height: 36px;
    transition: all 1s;
}
.page_skip input:hover
{
    width: 88px;
    border: 1px skyblue solid;
}
.page_skip button
{
    width: 54px;
    height: 36px;
    
}